@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.container{
  max-width: 1200px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  background: #C0DBD9;
  position: relative;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.header{
  height: 100px;
  width: 100%;
  background: #7FAFF6;
  padding: 30.5px 30px;
}
.pop-up-open{
  padding: 8px 15px;
  border-radius: 5px;
  background: #A5C7F9;
  color: white;
  font-size: 20px;
  line-height: 23.44px;
  font-weight: 400;
}
.pop-up-close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  background: #A5C7F9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.pop-up{
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: white;
}
.pop-up p{
  font-size: 53px;
  font-weight: 400;
  line-height: 62.11px;
}
.pop-up:target{
  right: 0;
}

.block1{
  background: #B3F95A;
  margin-top: 15px;
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 
    minmax(min(calc(34% - 15px)), 100%) 
    minmax(min(calc(52% - 15px)), 100%) 
    minmax(min(calc(14% - 15px)), 100%);
  grid-auto-rows: 198px;
  gap: 15px;
}
.block1 .box{
  background: #8AD191;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block1 .box::before{
  content: attr(id);
  font-size: 53px;
  color: white;
  line-height: 62.11px;
}

.block2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  background: #88B5BF;
  margin-top: 15px;
}
.block2 .box{
  background: #0D89B0;
  flex-grow: 1;
  height: 199px;
}

.footer{
  height: 100px;
  width: 100%;
  max-width: 1170px;
  background: #7FAFF6;
  position: fixed;
  bottom: 0;
}